/ExtramuralEducation.Core/bin/Home.Debug/*.dll

/ExtramuralEducation.Core/obj/Home.Debug/*.dll

/ExtramuralEducation.WebSite/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ExtramuralEducation.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Core/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.DataContext/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.DataContext/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Managers.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Managers.Contracts/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Managers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Managers/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Mappers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Mappers/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Models/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Repository.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Repository.Contracts/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Repository/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.ViewModels/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.ViewModels/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.WebSite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.WebSite/obj/Home.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExtramuralEducation.Core/obj/Debug/ExtramuralEducation.Core.csprojResolveAssemblyReference.cache
/ExtramuralEducation.DataContext/obj/Debug/ExtramuralEducation.DataContext.csprojResolveAssemblyReference.cache
/ExtramuralEducation.DataContext/obj/Home.Debug/ExtramuralEducation.DataContext.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Managers.Contracts/obj/Debug/ExtramuralEducation.Managers.Contracts.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Managers/obj/Debug/ExtramuralEducation.Managers.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Managers/obj/Home.Debug/ExtramuralEducation.Managers.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Mappers/obj/Debug/ExtramuralEducation.Mappers.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Mappers/obj/Home.Debug/ExtramuralEducation.Mappers.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Models/obj/Debug/ExtramuralEducation.Models.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Models/obj/Home.Debug/ExtramuralEducation.Models.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Repository.Contracts/obj/Debug/ExtramuralEducation.Repository.Contracts.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Repository/obj/Debug/ExtramuralEducation.Repository.csprojResolveAssemblyReference.cache
/ExtramuralEducation.Repository/obj/Home.Debug/ExtramuralEducation.Repository.csprojResolveAssemblyReference.cache
/ExtramuralEducation.ViewModels/obj/Debug/ExtramuralEducation.ViewModels.csprojResolveAssemblyReference.cache
/ExtramuralEducation.ViewModels/obj/Home.Debug/ExtramuralEducation.ViewModels.csprojResolveAssemblyReference.cache
/ExtramuralEducation.WebSite/obj/Debug/ExtramuralEducation.WebSite.csprojResolveAssemblyReference.cache
/ExtramuralEducation.WebSite/obj/Home.Debug/ExtramuralEducation.WebSite.csprojResolveAssemblyReference.cache
/ExtramuralEducation.WebSite/Content/css/style.css
/ExtramuralEducation.DataContext/bin/Debug/EntityFramework.dll
/ExtramuralEducation.DataContext/bin/Home.Debug/EntityFramework.dll

*.dll

*.pdb
