*.dll

*.pdb

*.cache

/key.ppk

*.force

/ExtramuralEducation.Managers.Contracts/bin/Home.Debug/EntityFramework.xml
/ExtramuralEducation.Managers/bin/Home.Debug/EntityFramework.xml
/ExtramuralEducation.Mappers/bin/Home.Debug/EntityFramework.xml
/ExtramuralEducation.Models/bin/Home.Debug/EntityFramework.xml
/ExtramuralEducation.ViewModels/bin/Home.Debug/EntityFramework.xml
